<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="about">
    <p>A mini e-commerce application built with Rails 4.2 for purposes of teaching Rails by example.</p>
  </div>

</section>